In [11]:
import pandas as pd

searches = pd.read_csv(r'C:\Users\dvale\Desktop\searches.csv', delimiter='^')
bookings = pd.read_csv(r'C:\Users\dvale\Desktop\bookings.csv', delimiter='^')

C:\Users\dvale\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,8,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Exercise 1

Count the number of lines in Python for each file using Python.

In [15]:
searches_num_rows = searches.shape[0]
bookings_num_rows = bookings.shape[0]
print('The search file has {} rows and the bookings file has {} rows'.format(searches_num_rows, bookings_num_rows))

The search file has 20390198 rows and the bookings file has 10000010 rows

# Exercise 2

Top 10 arrival airports in the world in 2013 (using the bookings file).

- Arrival airport is the column arr_port. It is the IATA code for the airport
- To get the total number of passengers for an airport, you can sum the column
pax, grouping by arr_port. Note that there is negative pax. That corresponds to
cancelations. So to get the total number of passengers that have actually
booked, you should sum including the negatives (that will remove the canceled
bookings).
- Print the top 10 arrival airports in the standard output, including the number of
passengers.

In [16]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000010 entries, 0 to 10000009
Data columns (total 38 columns):
 #   Column               Dtype
---  ------               -----
 0   act_date             object
 1   source               object
 2   pos_ctry             object
 3   pos_iata             object
 4   pos_oid              object
 5   rloc                 object
 6   cre_date             object
 7   duration             object
 8   distance             object
 9   dep_port             object
 10  dep_city             object
 11  dep_ctry             object
 12  arr_port             object
 13  arr_city             object
 14  arr_ctry             object
 15  lst_port             object
 16  lst_city             object
 17  lst_ctry             object
 18  brd_port             object
 19  brd_city             object
 20  brd_ctry             object
 21  off_port             object
 22  off_city             object
 23  off_ctry             object
 24  mkt_port             object
 25  mkt_city             object
 26  mkt_ctry             object
 27  intl                 object
 28  route                object
 29  carrier              object
 30  bkg_class            object
 31  cab_class            object
 32  brd_time             object
 33  off_time             object
 34  pax                  float64
 35  year                 float64
 36  month                float64
 37  oid                  object
dtypes: float64(3), object(35)
memory usage: 2.8+ GB

In [24]:
print(The to`p)
bookings.groupby('arr_port').pax.sum().sort_values(ascending=False).head(10)

arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64