# Exercise 3

Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

- For the arriving airport, you can use the Destination column in the searches file.
- Plot a curve for Málaga, another one for Madrid, and another one for Barcelona, in the same figure.

In [2]:
import pandas as pd

chunksize = 10000
series = pd.Series([])
for chunk in pd.read_csv(r'C:\Users\dvale\Desktop\searches.csv', delimiter='^', chunksize=chunksize, usecols=['Date','Destination']):
    chunk['month'] = chunk.Date.apply(lambda x: x[5:7])
    Dest_count = chunk[chunk.Destination == 'MAD'].groupby('month').Destination.count()
    series = series.add(Dest_count, fill_value=0)

<ipython-input-2-5ba1e5583696>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series([])

In [3]:
MAD = series.to_frame().reset_index()
MAD.columns = ['month', 'num_of_searches']
MAD

   month  num_of_searches
0     01          24258.0
1     02          22800.0
2     03          24681.0
3     04          25251.0
4     05          26334.0
5     06          22800.0
6     07          22971.0
7     08          21831.0
8     09          21147.0
9     10          22294.0
10    11          20272.0
11    12          14504.0

In [4]:
chunksize = 10000
series = pd.Series([])
for chunk in pd.read_csv(r'C:\Users\dvale\Desktop\searches.csv', delimiter='^', chunksize=chunksize, usecols=['Date','Destination']):
    chunk['month'] = chunk.Date.apply(lambda x: x[5:7])
    Dest_count = chunk[chunk.Destination == 'BCN'].groupby('month').Destination.count()
    series = series.add(Dest_count, fill_value=0)

<ipython-input-4-09bbf832d79a>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series([])

In [5]:
BCN = series.to_frame().reset_index()
BCN.columns = ['month', 'num_of_searches']
BCN

   month  num_of_searches
0     01          29469.0
1     02          28329.0
2     03          30552.0
3     04          31236.0
4     05          28728.0
5     06          26505.0
6     07          29241.0
7     08          27075.0
8     09          23427.0
9     10          20276.0
10    11          19824.0
11    12          15400.0

In [ ]:
chunksize = 10000
series = pd.Series([])
for chunk in pd.read_csv(r'C:\Users\dvale\Desktop\searches.csv', delimiter='^', chunksize=chunksize, usecols=['Date','Destination']):
    chunk['month'] = chunk.Date.apply(lambda x: x[5:7])
    Dest_count = chunk[chunk.Destination == 'MLA'].groupby('month').Destination.count()
    series = series.add(Dest_count, fill_value=0)

<ipython-input-6-12a917b240e0>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series = pd.Series([])

In [ ]:
MLA = series.to_frame().reset_index()
MLA.columns = ['month', 'num_of_searches']
MLA

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('seaborn')

MAD.plot(x ='month', y='num_of_searches')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('seaborn')

BCN.plot(x ='month', y='num_of_searches')
plt.show()